# Sales Data Analysis - EDA

### Load the Data from MySQL
The data is in `sales219.sql` file, loaded into MySQL database `mcda5580`.
We use SQLAlchemy to connect to MySQL with credentials stored in `.env` file.

## 1. Import Libraries

In [5]:
import os
from pathlib import Path
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt

print("✓ Libraries imported successfully!")

✓ Libraries imported successfully!

## 2. Load Database Configuration

Using environment variables from `.env` file for secure credential management.

In [13]:
# Get project root directory using pathlib
project_root = Path.cwd()
env_path = project_root / '.env'

# Load environment variables from .env file
load_dotenv(dotenv_path=env_path)

# Database connection parameters
DB_HOST = os.getenv('DB_HOST', 'localhost')
DB_PORT = os.getenv('DB_PORT', '3306')
DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
TABLE_NAME = os.getenv('DB_TABLE', 'sales219')

# Validate configuration
if not all([DB_NAME, DB_USER, DB_PASSWORD]):
    raise ValueError("Missing required environment variables. Check your .env file.")

print(f"✓ Configuration loaded successfully!")
print(f"  Database: {DB_NAME}")
print(f"  Host: {DB_HOST}:{DB_PORT}")
print(f"  Table: {TABLE_NAME}")
print(f"  User: {DB_USER}")
print(f"  Password: {DB_PASSWORD}")

✓ Configuration loaded successfully!
  Database: mcda_5580
  Host: localhost:3306
  Table: sales_219
  User: Bhavik
  Password: Bhavik_zorin123

## 3. Create Database Connection

Using SQLAlchemy engine for database operations.

In [14]:
# Create SQLAlchemy engine
connection_string = f"mysql+mysqldb://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(connection_string)
print(f"Connection String: {connection_string}")
# Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT DATABASE()"))
        db_name = result.fetchone()[0]
        print(f"✓ Successfully connected to database: {db_name}")
except Exception as e:
    print(f"✗ Connection failed: {e}")
    raise

Connection String: mysql+mysqldb://Bhavik:Bhavik_zorin123@localhost:3306/mcda_5580
✗ Connection failed: (MySQLdb.OperationalError) (1045, "Access denied for user 'Bhavik'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

OperationalError: (MySQLdb.OperationalError) (1045, "Access denied for user 'Bhavik'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## 4. Explore Table Structure

In [4]:
# Get table structure
table_structure_query = f"DESCRIBE {TABLE_NAME}"
table_structure = pd.read_sql(table_structure_query, engine)

print(f"\nTable: {TABLE_NAME}")
print(f"Number of columns: {len(table_structure)}")
print("\nTable Structure:")
display(table_structure)

Table: sales219
Number of columns: 17

Table Structure:

                        Field          Type Null  Key Default Extra
0              TRANSACTION_RK   varchar(10)  YES  MUL    None
1                 CALENDAR_DT    varchar(9)  YES         None
2                        date          date   NO         None
3                        time          time   NO         None
4              TRANSACTION_TM    varchar(8)  YES         None
5                     ITEM_SK   varchar(20)  YES  MUL    None
6   RETAIL_OUTLET_LOCATION_SK           int  YES         None
7             POS_TERMINAL_NO           int  YES         None
8                  CASHIER_NO           int  YES         None
9                    ITEM_QTY           int  YES         None
10                ITEM_WEIGHT  decimal(4,3)  YES         None
11               SALES_UOM_CD    varchar(1)  YES         None
12         SELLING_RETAIL_AMT  decimal(6,5)  YES         None
13         PROMO_SALES_IND_CD    varchar(1)  YES         None
14            STAPLE_ITEM_FLG    varchar(1)  YES         None
15                  REGION_CD           int  YES         None
16                CUSTOMER_SK   varchar(20)  YES  MUL    None

In [5]:
# Check total number of rows
count_query = f"SELECT COUNT(*) as total_rows FROM {TABLE_NAME}"
row_count = pd.read_sql(count_query, engine)
total_rows = row_count['total_rows'].iloc[0]

print(f"\nTotal rows in {TABLE_NAME}: {total_rows:,}")

Total rows in sales219: 3,678,038

## 5. Load Sample Data

Load a sample of the data for quick exploration.

In [ ]:
# Load sample data (first 1000 rows)
sample_query = f"SELECT * FROM {TABLE_NAME} LIMIT 1000"
df_sample = pd.read_sql(sample_query, engine)

print(f"✓ Sample data loaded: {len(df_sample):,} rows")
print(f"  Shape: {df_sample.shape}")
print(f"  Columns: {list(df_sample.columns)}")

In [ ]:
# Display first few rows
print("\nFirst 10 rows:")
display(df_sample.head(10))

## 6. Basic Exploratory Data Analysis

In [ ]:
# Dataset information
print("\nDataset Information:")
df_sample.info()

In [ ]:
# Statistical summary
print("\nStatistical Summary:")
display(df_sample.describe())

In [ ]:
# Check for missing values
print("\nMissing Values Analysis:")
missing_data = df_sample.isnull().sum()
missing_percent = (missing_data / len(df_sample)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing_data,
    'Percentage': missing_percent
})

# Show only columns with missing values
missing_cols = missing_df[missing_df['Missing Count'] > 0]
if len(missing_cols) > 0:
    display(missing_cols)
else:
    print("✓ No missing values found!")

## 7. Load Full Dataset (Optional)

Uncomment and run to load the complete dataset if needed.

In [ ]:
# Uncomment to load full dataset
# WARNING: This may take time and use significant memory

# full_query = f"SELECT * FROM {TABLE_NAME}"
# df_full = pd.read_sql(full_query, engine)
# print(f"\n✓ Full dataset loaded: {len(df_full):,} rows")
# print(f"  Memory usage: {df_full.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

## 8. Custom Queries

Execute custom SQL queries as needed for your analysis.

In [ ]:
# Example: Custom query
# Modify based on your actual table structure and analysis needs

custom_query = f"""
SELECT * 
FROM {TABLE_NAME}
LIMIT 10
"""

result = pd.read_sql(custom_query, engine)
display(result)

## 9. Data Visualization

Add your visualizations here based on the actual columns in your dataset.

In [ ]:
# Example visualization - modify based on your actual columns
# Uncomment and adjust column names as needed

# plt.figure(figsize=(12, 6))
# df_sample['your_column'].value_counts().head(10).plot(kind='bar')
# plt.title('Top 10 Values')
# plt.xlabel('Category')
# plt.ylabel('Count')
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

## 10. Cleanup

Close database connection when done.

In [ ]:
# Close the database connection
engine.dispose()
print("✓ Database connection closed")